{% extends 'main.html' %}
{% load static  %}

{% block content %}

<h1>
    {{ channel_detail.title }}
</h1>
<hr/>
<div>
    <p>
        {{ channel_detail.description }}
    </p>
    <a href="{{ channel_detail.link }}">
        External Link
    </a>
</div>

<hr/>
<img src="{% static channel_detail.feed_image.url %}"/>
<table>
    <tr>
        <th>Title</th>
        <th>Published</th>
        <th>Author</th>
        <th>Link</th>
    </tr>
    {% for itm in feed_items %}
        <tr>
            <td>{{ itm.title }}</td>
            <td>{{ itm.pub_date }}</td>
            <td>{{ itm.author }}</td>
            <td>
                <a href="{{ itm.link }}">
                    Go to external link
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}